*~

*.swp
*.swo
*.pyc
*.npy
*.npz
*.pkl
.ipynb_checkpoints/

.doit.db
data/raw/freeassoc
data/raw/google
data/RatModel#*.txt

RatModel.cfg
psywork
data/neural-accuracy.h5
data/associationmatrices/google-1grams
data/associationmatrices/google-bigrams
data/ConnectionsRatModel#*.txt
